@import url('../fonts/Vazirmatn-font-face.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    direction: rtl;
    font-size: 100%;
}

body {
    font-family: Vazirmatn, Sans-serif, Serif, Monospace, serif;
    background: #644bff;
    color: white;
}

.page-title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}

.result-container {
}

.result-section {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}

.result-item {
    width: calc(25% - 20px);
    margin: 10px;
    border-radius: 30px;
    border: 2px solid white;
    padding: 10px;
}

.result-content * {
    margin: 10px auto;
}

.result-section .result-image {
    width: 95%;
    height: 250px;
    margin: 5px auto;
    display: block;
    border-radius: 30px;
}

.result-title {
    text-align: center;
    font-size: 1.2em;
}
.result-description{
    font-size: 1em;
    text-align: center;
    opacity: .8;
}

.result-date {
    font-size: 1em;
    opacity: .8;
    text-align: center;
}

.result-link {
    background-color: #40f1f1;
    border-radius: 30px;
    width: 80%;
    text-align: center;
    padding: 5px 0;
    transition: .4s all;
}

.result-link:hover {
    transform: scale(1.07);
}

.result-link a {
    text-decoration: none;
    color: black;
}

#user-info {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #a396ec;
    border-radius: 20px;
}
#user-info p{
    margin: 0;
    padding: 0;
}
#user-info a{
    display: block;
    text-align: center;
    color: white;
    text-decoration: underline;
}

@media (max-width: 641px) {
    .page-title {
        font-size: 2em;
    }

    .result-item {
        width: 100%;
    }

    .result-section .result-image {
        height: 200px;
    }
}