{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<span id="user-info">
    {% if wallet is not None %}
        <p>{{ request.user.email }}</p>
        <p style="text-align: center">balance = <span
                style="text-decoration: underline">{{ wallet.current_balance }}</span> coin</p>
        <a href="{% url 'logout_view' %}">خروج از حساب کاربری</a>
    {% else %}
        <a href="{% url 'login_view' %}" class="login-warning">برای جست و جو لطفا ابتدا در حساب خود لاگین کنید</a>
    {% endif %}
</span>
<div class="main-container">
    <div>
        <h1 id="title">جست و جو بین داده های سایت جابینجا</h1>
        <div class="wrapper">
            <div class="search-input">
                <a href="" target="_blank" hidden></a>
                <form method="post" action="{% url 'search_view' %}">
                    {{ form.search }}
                    {% csrf_token %}
                </form>
                <div class="icon"><i class="fas fa-search"></i></div>
            </div>
        </div>

    </div>
</div>

<!--<script src="js/suggestions.js"></script>-->
<!--<script src="js/script.js"></script>-->

</body>
</html>
